# Each line is a file pattern followed by one or more owners.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default code owner for everything is our aws-crypto-tools group
*       @aws/aws-crypto-tools
