[submodule "aws-encryption-sdk-test-vectors"]
	path = aws-encryption-sdk-test-vectors
	url = https://github.com/awslabs/private-aws-encryption-sdk-test-vectors-staging.git
	branch = known-invalid-test-vectors
