# Vim swap files
*~
*.swp
*.swo

# OS Artifacts
.DS_Store

# Artifacts
build
node_modules
package-lock.json

# VSCode
.vscode
.history

# nyc/code coverage
.nyc_output
coverage

# symlink to test vectors
/modules/integration-node/fixtures

# Lerna
/lerna-debug.log

# TypeScript config is built by ./util/bootstrap_tsconfig
/tsconfig.json
package.json.decrypt
