# This workflow performs tests in JavaScript.
name: ESDK JavaScript CI Tests 
permissions:
  contents: read

on: [pull_request, workflow_call]

jobs:
  shared-ci:
    uses: ./.github/workflows/shared-ci.yml
