# This workflow runs every weekday at 15:00 UTC (8AM PDT)
name: Daily CI

on:
  schedule:
    - cron: "00 15 * * 1-5"
  pull_request:
    paths:
      .github/workflows/daily_ci.yml
jobs:
  DAILY_CI:
    # Don't run the cron builds on forks
    if: github.event_name != 'schedule' || github.repository_owner == 'aws'
    uses: ./.github/workflows/ci.yml
  notify:
    needs:
      [
        DAILY_CI
      ]
    if: ${{ failure() && github.event_name == 'schedule'}}
    uses: ./.github/workflows/slack-notification.yml
    with:
      message: "Daily CI failed on `${{ github.repository }}`. View run: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
    secrets:
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL_CI }}
