name: Shared CI Tests

on:
  workflow_call:
    inputs:
      test-published-packages:
        description: 'Test against published packages instead of checked out code'
        required: false
        type: boolean
        default: false

env:
  NODE_OPTIONS: "--max-old-space-size=4096"
  NPM_CONFIG_UNSAFE_PERM: true

jobs:
  compliance:
    # Don't lint or check Duvet annotations on already-published code
    if: ${{ !inputs.test-published-packages }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true

      - name: Setup Node.js 18
        uses: actions/setup-node@v4
        with:
          node-version: '18'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci --unsafe-perm

      - name: Run compliance checks
        run: |
          npm run lint
          npm run test_conditions

  test:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    strategy:
      fail-fast: false
      matrix:
        node-version: ['18', '20', '22', 'latest']
        test-type: ['node', 'browser']
        test-category: ['coverage', 'vectors']
    name: test-${{ matrix.test-category }}-${{ matrix.test-type }}${{ matrix.node-version }}
    steps:
      - name: Checkout code
        # Always need repo for test scripts and configuration, even when testing published packages
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true

      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - name: Configure AWS Credentials for Tests
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: us-west-2
          role-to-assume: arn:aws:iam::370957321024:role/GitHub-CI-MPL-Dafny-Role-us-west-2
          role-session-name: JavaScriptTests

      - name: Install dependencies
        run: npm ci --unsafe-perm

      - name: Build (for source code testing)
        if: ${{ !inputs.test-published-packages }}
        run: npm run build

      - name: Run coverage tests (${{ matrix.test-type }})
        if: ${{ matrix.test-category == 'coverage' }}
        run: npm run coverage-${{ matrix.test-type }}

      - name: Publish locally for vector tests
        if: ${{ matrix.test-category == 'vectors' && !inputs.test-published-packages }}
        run: npm run verdaccio-publish

      - name: Run vector tests (${{ matrix.test-type }})
        if: ${{ matrix.test-category == 'vectors' }}
        run: |
          npm run verdaccio-${{ matrix.test-type }}-decrypt
          npm run verdaccio-${{ matrix.test-type }}-encrypt
